<div id="user-info">
  <h1>Hi {{ username }}</h1>
</div>
<div id="tasks-wrapper">
  <nav id="info-nav">
    <span>Tasks ({{ filteredTasks.length }})</span>
    <div>
      <span>Showing: </span>
      <form></form>
      <select class="filterTasksSelect" formControlName="filterTasksForm" (change)="filterTasks($event)">
        <option class="filterTasksOption" value="ALL_TASKS">All ({{ taskService.filterTasksBy('ALL_TASKS', tasks).length }})</option>
        <option class="filterTasksOption" value="LOCKED">Locked ({{ taskService.filterTasksBy('LOCKED', tasks).length }})</option>
        <option class="filterTasksOption" value="PENDING">pending ({{ taskService.filterTasksBy('PENDING', tasks).length }})</option>
        <option class="filterTasksOption" value="COMPLETED">Completed ({{ taskService.filterTasksBy('COMPLETED', tasks).length }})</option>
      </select>
    </div>
  </nav>
  <div id="tasks">
    <app-task *ngFor="let task of filteredTasks" [task]="task"></app-task>
  </div>
</div>
